# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.2.0=pypi_0
addict=2.4.0=pypi_0
aiofiles=23.1.0=pypi_0
aiohttp=3.8.4=pypi_0
aiosignal=1.3.1=pypi_0
albumentations=1.2.1=pypi_0
altair=4.2.2=pypi_0
altgraph=0.17.3=pypi_0
anyio=3.6.2=pypi_0
anylabeling=0.2.11=pypi_0
appdirs=1.4.4=pypi_0
asttokens=2.2.1=pypi_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pypi_0
attrs=21.4.0=pypi_0
blas=1.0=mkl
boundary-iou=0.1=dev_0
ca-certificates=2022.12.7=h5b45459_0
cachetools=5.2.0=pypi_0
certifi=2022.12.7=pyhd8ed1ab_0
cffi=1.15.1=pypi_0
chardet=3.0.4=pypi_0
charset-normalizer=2.0.12=pypi_0
cityscapesscripts=2.2.1=pypi_0
click=8.1.2=pypi_0
click-plugins=1.1.1=pypi_0
cligj=0.7.2=pypi_0
colorama=0.4.4=pypi_0
coloredlogs=15.0.1=pypi_0
coverage=5.5=pypi_0
cryptography=39.0.2=pypi_0
cudatoolkit=10.2.89=h74a9793_1
cycler=0.11.0=pypi_0
cython=0.29.33=pypi_0
dcnv2=0.1=dev_0
deprecated=1.2.13=pypi_0
deprecation=2.1.0=pypi_0
descartes=1.1.0=pypi_0
dill=0.3.6=pypi_0
dominate=2.6.0=pypi_0
dropblock=0.3.0=pypi_0
efficientnet-pytorch=0.7.1=pypi_0
einops=0.4.1=pypi_0
elastic-transport=8.1.2=pypi_0
elasticsearch=8.1.2=pypi_0
entrypoints=0.4=pypi_0
eyed3=0.9.6=pypi_0
faiss=1.7.2=py38cuda102h6cb8b46_3_cuda
faiss-gpu=1.7.2=h949689a_3
fastapi=0.95.0=pypi_0
ffmpy=0.3.0=pypi_0
filelock=3.10.0=pypi_0
filetype=1.0.10=pypi_0
fiona=1.8.21=pypi_0
flatbuffers=2.0.7=pypi_0
flit-core=3.8.0=py38haa95532_0
fonttools=4.31.1=pypi_0
freetype=2.10.4=hd328e21_0
frozenlist=1.3.3=pypi_0
fsspec=2023.3.0=pypi_0
future=0.18.3=pypi_0
fvcore=0.1.5.post20221221=pypi_0
gast=0.4.0=pypi_0
gdal=3.4.2=pypi_0
geojson=2.5.0=pypi_0
geopandas=0.10.2=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.31=pypi_0
google-auth=2.11.0=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
gradio=3.22.1=pypi_0
grpcio=1.49.0=pypi_0
h11=0.14.0=pypi_0
h5py=3.7.0=pypi_0
httpcore=0.16.3=pypi_0
httpx=0.23.3=pypi_0
huggingface-hub=0.13.2=pypi_0
humanfriendly=10.0=pypi_0
idna=2.5=pypi_0
imagecodecs=2022.2.22=pypi_0
imageio=2.16.0=pypi_0
imgaug=0.4.0=pypi_0
imgviz=1.7.2=pypi_0
importlib-metadata=4.12.0=pypi_0
importlib-resources=5.12.0=pypi_0
intel-openmp=2021.4.0=haa95532_3556
iopath=0.1.10=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.1.0=pypi_0
jpeg=9b=hb83a4c4_2
jsonpatch=1.32=pypi_0
jsonpointer=2.2=pypi_0
jsonschema=4.17.3=pypi_0
keras=2.10.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.0=pypi_0
libblas=3.9.0=1_h8933c1f_netlib
libclang=14.0.6=pypi_0
libfaiss=1.7.2=cuda102h4c6e0b6_3_cuda
libfaiss-avx2=1.7.2=cuda102h1234567_3_cuda
liblapack=3.9.0=5_hd5c7e75_netlib
libpng=1.6.37=h2a8f88b_0
libtiff=4.2.0=hd0e1b90_0
libuv=1.40.0=he774522_0
libwebp=1.2.0=h2bbff1b_0
line-profiler=4.0.3=pypi_0
linkify-it-py=2.0.0=pypi_0
lz4-c=1.9.3=h2bbff1b_1
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markdown=3.4.1=pypi_0
markdown-it-py=2.2.0=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.5.1=pypi_0
mdit-py-plugins=0.3.3=pypi_0
mdurl=0.1.2=pypi_0
mkl=2021.4.0=haa95532_640
mkl-service=2.4.0=py38h2bbff1b_0
mkl_fft=1.3.1=py38h277e83a_0
mkl_random=1.2.2=py38hf11a4ad_0
mmcls=0.23.2=pypi_0
mmcv=1.7.1=pypi_0
mmcv-full=1.7.1=pypi_0
mmengine=0.7.2=pypi_0
mmsegmentation=0.28.0=pypi_0
model-index=0.1.11=pypi_0
mpmath=1.3.0=pypi_0
msys2-conda-epoch=20160418=1
multidict=6.0.4=pypi_0
multiprocess=0.70.14=pypi_0
munch=2.5.0=pypi_0
names=0.3.0=pypi_0
natsort=8.3.1=pypi_0
netron=6.7.6=pypi_0
networkx=2.6.3=pypi_0
nibabel=5.1.0=pypi_0
ninja=1.10.2=py38h559b2a2_3
numpy=1.24.2=pypi_0
numpy-base=1.21.5=py38hc2deb75_0
nvidia-pyindex=1.0.9=pypi_0
oauthlib=3.2.1=pypi_0
olefile=0.46=pyhd3eb1b0_0
onnx=1.13.1=pypi_0
onnxruntime=1.14.1=pypi_0
openai=0.27.2=pypi_0
opencv-contrib-python=4.7.0.72=pypi_0
opencv-python=4.4.0.44=pypi_0
opencv-python-headless=4.7.0.72=pypi_0
openmim=0.3.6=pypi_0
openssl=1.1.1t=hcfcfb64_0
opt-einsum=3.3.0=pypi_0
ordered-set=4.1.0=pypi_0
orjson=3.8.7=pypi_0
osr=0.0.1=pypi_0
packaging=21.3=pypi_0
pandas=1.4.1=pypi_0
panopticapi=0.1=pypi_0
parsimonious=0.10.0=pypi_0
pefile=2023.2.7=pypi_0
pillow=8.4.0=py38hd45dc43_0
pip=21.2.2=py38haa95532_0
pkgutil-resolve-name=1.3.10=pypi_0
playsound=1.3.0=pypi_0
portalocker=2.7.0=pypi_0
pretrainedmodels=0.7.4=pypi_0
prettytable=3.4.1=pypi_0
protobuf=3.20.3=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycococreatortools=0.2.0=pypi_0
pycocotools=2.0.4=pypi_0
pycparser=2.21=pypi_0
pydantic=1.10.6=pypi_0
pydub=0.25.1=pypi_0
pygithub=1.58.1=pypi_0
pyglet=1.1.4=pypi_0
pygments=2.14.0=pypi_0
pyinstaller=5.10.1=pypi_0
pyinstaller-hooks-contrib=2023.2=pypi_0
pyjwt=2.6.0=pypi_0
pynacl=1.5.0=pypi_0
pyparsing=3.0.7=pypi_0
pypdf2=3.0.1=pypi_0
pyproj=3.3.0=pypi_0
pyqt5=5.15.9=pypi_0
pyqt5-qt5=5.15.2=pypi_0
pyqt5-sip=12.11.1=pypi_0
pyqt5ac=1.2.1=pypi_0
pyquaternion=0.9.9=pypi_0
pyreadline3=3.4.1=pypi_0
pyrsistent=0.19.3=pypi_0
pyseeyou=1.0.2=pypi_0
pyshp=2.3.0=pypi_0
python=3.8.12=h6244533_0
python-dateutil=2.8.2=pypi_0
python-multipart=0.0.6=pypi_0
python-slugify=8.0.1=pypi_0
python_abi=3.8=2_cp38
pytorch=1.8.1=py3.8_cuda10.2_cudnn7_0
pytube=12.1.3=pypi_0
pytz=2021.3=pypi_0
pywavelets=1.2.0=pypi_0
pywin32=305=pypi_0
pywin32-ctypes=0.2.0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
qgis-plugin-ci=2.7.0=pypi_0
qimage2ndarray=1.10.0=pypi_0
qudida=0.0.4=pypi_0
regex=2022.9.13=pypi_0
requests=2.24.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
rfc3986=1.5.0=pypi_0
rich=13.3.1=pypi_0
rsa=4.9=pypi_0
scikit-image=0.19.2=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.8.0=pypi_0
seaborn=0.11.2=pypi_0
setuptools=58.0.4=py38haa95532_0
shapely=1.8.1.post1=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
sqlite=3.37.2=h2bbff1b_0
starlette=0.26.1=pypi_0
sympy=1.11.1=pypi_0
tabulate=0.9.0=pypi_0
tensorboard=2.10.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorboardx=2.5=pypi_0
tensorflow-estimator=2.10.0=pypi_0
tensorflow-gpu=2.10.0=pypi_0
tensorflow-io-gcs-filesystem=0.27.0=pypi_0
termcolor=2.0.1=pypi_0
terminaltables=3.1.10=pypi_0
text-unidecode=1.3=pypi_0
thop=0.1.0-2207010342=pypi_0
threadpoolctl=3.1.0=pypi_0
tifffile=2022.2.9=pypi_0
timm=0.5.4=pypi_0
tk=8.6.11=h2bbff1b_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
torchaudio=0.8.1=py38
torchcontrib=0.0.2=pypi_0
torchfile=0.1.0=pypi_0
torchvision=0.9.1=py38_cu102
tornado=6.1=pypi_0
tqdm=4.63.1=pypi_0
transifex-python=3.2.0=pypi_0
typing-extensions=4.5.0=pypi_0
typing_extensions=4.4.0=py38haa95532_0
uc-micro-py=1.0.1=pypi_0
ucrt=10.0.22621.0=h57928b3_0
urllib3=1.21.1=pypi_0
uvicorn=0.21.1=pypi_0
vc=14.2=h21ff451_1
visdom=0.1.8.9=pypi_0
vs2015_runtime=14.34.31931=h4c5c07a_11
wcwidth=0.2.5=pypi_0
websocket-client=1.3.1=pypi_0
websockets=10.4=pypi_0
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py38haa95532_2
wrapt=1.14.1=pypi_0
xlsxwriter=3.0.3=pypi_0
xlwt=1.3.0=py38_0
xz=5.2.5=h62dcd97_0
yacs=0.1.8=pypi_0
yapf=0.32.0=pypi_0
yarl=1.8.2=pypi_0
zipp=3.8.1=pypi_0
zlib=1.2.11=h8cc25b3_4
zstd=1.4.9=h19a0ad4_0
